<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLIENT</title>
</head>
<body>
    <h1>Client</h1>
    <hr>
    serverID: <b><span id="serverID">{{{serverID}}}</span></b>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/client.js"></script>
</body>
</html>
