<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="canvases"></div>
    <div id="menu">
        <input type="button" value="respawn" id="respawnBtn">
        <input type="button" value="reload" id="reloadBtn">
        <input type="button" value="Add emitter" id="emitterBtn">
        <table border="0">
            <tr>
                <td>Shoot</td>
                <td>left mouse</td>
            </tr>
            <tr>
                <td>Up</td>
                <td>W</td>
            </tr>
            <tr>
                <td>Left</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Down</td>
                <td>S</td>
            </tr>
            <tr>
                <td>Right</td>
                <td>D</td>
            </tr>
            <tr>
                <td>Assault Rifle</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Shotgun</td>
                <td>2</td>
            </tr>
        </table>

        <ul id="players"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
