<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="canvases"></div>
    <div id="menu">
        <input type="button" value="respawn" id="respawnBtn">
        <input type="button" value="1: AK47" id="akBtn">
        <input type="button" value="2: Shotgun" id="shotgunBtn">
        <ul id="players"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
