<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <input type="button" value="respawn" id="respawnBtn">
    <ul id="players"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
