<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Game</h1>
    <hr />
    {{> canvas }}
    <hr />
    players:
    <ul id="players"></ul>
    <input type="button" id="btnTest" value="test" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
