<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/keys.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="canvases"></div>
    <div id="menu">
        <table border="0">
            <tr>
                <td>Shoot</td>
                <td><img src="/img/left-mouse.png"></td>
            </tr>
            <tr>
                <td>Reload</td>
                <td><kbd class="dark">R</kbd></td>
            </tr>
            <tr>
                <td>Up</td>
                <td><kbd class="dark">W</kbd></td>
            </tr>
            <tr>
                <td>Left</td>
                <td><kbd class="dark">A</kbd></td>
            </tr>
            <tr>
                <td>Down</td>
                <td><kbd class="dark">S</kbd></td>
            </tr>
            <tr>
                <td>Right</td>
                <td><kbd class="dark">D</kbd></td>
            </tr>
            <tr>
                <td>Assault Rifle</td>
                <td><kbd class="dark">1</kbd></td>
            </tr>
            <tr>
                <td>Shotgun</td>
                <td><kbd class="dark">2</kbd></td>
            </tr>
        </table>

        <ul id="players"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
