<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVER</title>
</head>
<body>
    <h1>Game: <span id="gameID">{{{gameID}}}</span></h1>
    <hr />
    <input type="button" id="sendTest" value="send">
    <hr />
    {{> canvas }}
    <hr />
    clients:
    <ul id="clients"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
