html {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

canvas {
    border: 1px solid #ababab;
    position: absolute;
    left: 0;
    top: 0;
}

.me {
    font-weight: bold;
    color: green;
}
